<div class="flex justify-center items-center mt-4 mb-4">
  <nav class="relative z-0 inline-flex shadow-sm rounded-md">
    <a
      href="#"
      class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M7 11l5-5m0 0l5 5m-5-5v12"
        />
      </svg>
    </a>
    <a
      href="#"
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm"
      >1</a
    >
    <a
      href="#"
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm"
      >2</a
    >
    <a
      href="#"
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm"
      >3</a
    >
    <span
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm"
      >...</span
    >
    <a
      href="#"
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm"
      >10</a
    >
    <a
      href="#"
      class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 13l-5 5m0 0l-5-5m5 5V6"
        />
      </svg>
    </a>
  </nav>
</div>
